html, body {
    background-color: #151618;
}

* {
    color: white;
    line-height: 1px;
}

sub {
    font-size: .8em;
    position: relative;
    top: .5em
}

sup {
    font-size: .8em;
    position: relative;
    top: -.5em
}

blockquote {
    border-left: solid 4px rgba(255,255,255,0.15);
    font-style: italic;
    margin: 0 0 2em;
    padding: .5em 0 .5em 2em
}

code {
    background: rgba(255,255,255,0.05);
    border-radius: .25em;
    border: solid 1px rgba(255,255,255,0.15);
    font-family: "Courier New",monospace;
    font-size: .9em;
    margin: 0 .25em;
    padding: .25em .65em
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New",monospace;
    font-size: .9em;
    margin: 0 0 2em
}

pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto
}

hr {
    border: 0;
    border-bottom: solid 1px rgba(255,255,255,0.15);
    margin: 2em 0
}

hr.major {
    margin: 3em 0
}

.align-left {
    text-align: left
}

.align-center {
    text-align: center
}

.align-right {
    text-align: right
}

a {
    color: #dadada
}